[database]
user="root"
password="N1GH7W4LL_P4SSW0RD"
address="db"
port="3306"
name="nightwall"

[log]
file="/var/log/nightwall.log"

[messages]
limit="5"
limit_size="1024"
moderate_msg_without_img=false
moderate_msg_with_img=true

[client]
authorized_origin="*"

[image]
max_width="1920"
max_height="1080"
